<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

<header class="header-container">
        
        <div class="header-logo">
            <img src="~/images/logo-placeholder.png" alt="Logo Dream Match">
        </div>

        
        <nav class="header-nav">
            <a href="#" class="header-link">Pruebas</a>
            <a href="#" class="header-link">Motivación</a>
            <a href="#" class="header-link">Contacto</a>
            <a href="#" class="header-link">Desafíos dream</a>
            <a href="#" class="header-link">Recomendaciones</a>
        </nav>

        <
        <div class="header-actions">
            <div class="header-search">
                <input type="text" placeholder="Buscar...">
            </div>
            <div class="header-user">
                <img src="~/images/user-placeholder.png" alt="Usuario">
            </div>
        </div>
    </header>




























    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
